.t-1{
   font-size:  1.4em !important;
}

.t-2{
    font-size:  1.2em !important;
}

.t-3{
    font-size: 0.9em !important;
}

.t-4{
    font-size: 0.7em !important;
}

.profile-i{
    margin-bottom: 3rem;
    text-align: center;   
}

.profile-i img{
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.profile-i h4{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.btn-div{
    margin: auto;
    padding-top: 1em;
}

.name-e{
    font-family: 'Odibee Sans', cursive;
    font-size: 2.5em;
}

.name-k{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.8em;
    font-weight: 400;
}
.text-come{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.25em;
    border-bottom: 0.1rem solid #b8b8b8;
    padding-bottom: 1.2rem;
}
.text-come2{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9em;
}

.de-page-top{
    margin-top: 2rem;
}