.t-1{
   font-size:  1.4em !important;
}

.t-2{
    font-size:  1.2em !important;
}

.t-3{
    font-size: 0.9em !important;
}

.t-4{
    font-size: 0.7em !important;
}

.profile-i{
    margin-bottom: 3rem;
    text-align: center;   
}

.profile-i img{
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.profile-i h4{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.btn-div{
    margin: auto;
}